<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.jxsn.newsclient"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/news_icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".ui.WelcomeUi"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!--注册主页界面-->
        <activity
            android:name=".ui.HomeUi"
            android:theme="@style/StyledIndicators"
            ></activity>
        <!--注册向导界面-->
        <activity android:name=".ui.GuideUi"></activity>
        <!--新闻详情界面-->
        <activity android:name=".ui.DetailUi"></activity>
    </application>

</manifest>
